@use "variables" as vars;

.about {
  &-wrapper {
    position: relative;
  }

  &-content {
    width: 65%;
    font-size: 20px;
    padding: 0;
  }

  &-image {
    position: absolute;
    right: 40px;
    top: 50%;
    max-height: 120%;
    transform: translate(0, -50%);
    margin: 0;
  }

  .wp-block-media-text {
    position: relative;
    display: block;
  }

  .wp-block-media-text__content {
    width: 65%;
    font-size: 20px;
    padding: 0;
  }

  .wp-block-media-text__media {
    position: absolute;
    right: 40px;
    top: 50%;
    max-height: 120%;
    transform: translate(0, -50%);
    margin: 0;
  }
}

@media (max-width: vars.$size-xxl) {
  .about {
    &-content {
      width: 60%;
      font-size: 18px;
    }

    &-image {
      max-height: 100%;
    }
  }
}

@media (max-width: vars.$size-xl) {
  .about {
    &-image {
      max-height: 70%;
    }
  }
}

@media (max-width: vars.$size-md) {
  .about {
    &-wrapper {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
    &-content {
      width: 100%;
      font-size: 16px;
    }
    &-image {
      position: static;
      max-height: 60%;
      transform: none;
    }
  }
}
