@use 'variables' as vars;

* {
  box-sizing: border-box;
}

.site-main {
  margin-top: 50px;
}

.section {
  padding: 60px 0;

  &-title {
    font-size: 36px;
    color: vars.$color-main;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 40px;
  }

  &_blue {
    background: vars.$gradient-main;
  }

  &_blue &-title {
    color: #fff;
  }
}

.container {
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.button {
  display: inline-block;
  background-image: linear-gradient(to right, vars.$color-main-light, vars.$color-main-dark, vars.$color-main-light, vars.$color-main-dark);
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  padding: 5px 30px;
  box-shadow: 0 2px 4px rgba(#000, 0.15);
  background-size: 300% 100%;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;

  &:hover {
    color: #fff;
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

  &:focus {
    outline: none;
  }

  &:visited {
    color: #fff;
  }
}

.wp-block-table {
  margin-top: 60px;
  td{

  }
  tr{
    font-size:18px;
    margin-bottom: 10px;

    :first-child:after{
    }
  }
}

@media (max-width: vars.$size-xxl) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: vars.$size-xl) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: vars.$size-lg) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: vars.$size-md) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: vars.$size-sm) {
  .container {
    max-width: 100%;
  }
}