@use "variables" as vars;

@media (max-width: vars.$size-xxl) {
  .cleaning-service {
    p,
    li {
      font-size: 18px;
    }

    img {
      height: 80%;
    }
  }
}

@media (max-width: vars.$size-xl) {
  .cleaning-service {
    table {
      td {
        max-width: 340px;
        padding: 10px;
      }
    }
  }
}

@media (max-width: vars.$size-lg) {
  .cleaning-service {
    flex-direction: column;

    img {
      height: 100%;
    }

    .wp-block-media-text__media {
      transform: none;
      position: static;
    }

    .wp-block-media-text__content {
      width: 100%;
    }
  }
}

@media (max-width: vars.$size-md) {
  .cleaning-service {
    flex-direction: column;
    p {
      font-size: 16px;
    }
    ul li {
      font-size: 16px;
    }
  }
}

@media (max-width: vars.$size-sm) {
  .cleaning-service {
    flex-direction: column;
    td {
      font-size: 14px;
      max-width: auto !important;
    }
  }
}
