@use "variables" as vars;

.clients {
  &-wrapper {
    display: flex;
    justify-content: space-between;

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 250px;
      border-radius: 20px;
      background-color: #fff;
      padding: 30px;
    }
  }
}

@media (max-width: vars.$size-xxl) {
  .clients {
    &-wrapper {
      &-item {
        padding: 20px;
      }
    }
  }
}

@media (max-width: vars.$size-xl) {
  .clients {
    &-wrapper {
      justify-content: space-evenly;
      &-item {
        padding: 10px 20px;
        width: 150px;
      }
    }
  }
}

@media (max-width: vars.$size-md) {
  .clients {
    &-wrapper {
      flex-wrap: wrap;
      justify-content: center;
      &-item {
        margin: 0 10px 20px;
        height: 100px;
        width: 200px;
      }
    }
  }
}