@use "variables" as vars;

.form {
  display: flex;

  &-wrapper {
    position: relative;
    min-width: 460px;
    max-width: 600px;
    margin: 0 auto;
    background: vars.$gradient-main;
    padding: 30px 40px;
    color: #fff;
    border-radius: 20px;
    box-shadow: vars.$blue-shadow;

    br {
      display: none;
    }

    p {
      margin: 0;
    }
  }

  &-wrapper &-submit {
    height: 50px;
    display: block;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #fff;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: none;
    margin: 0 auto;
    cursor: pointer;

    &:hover {
      color: vars.$color-main;
      background: #fff;
    }
  }

  &-wrapper .wpcf7-spinner {
    background: #fff !important;
    opacity: 1 !important;
    display: none !important;
    margin: 10px auto !important;

    &::before {
      background: vars.$color-main !important;
    }
  }

  &-wrapper form.submitting .wpcf7-spinner {
    display: block !important;
  }

  &-wrapper .wpcf7-response-output {
    margin: 20px 0 0 !important;
    border-color: #fff !important;
    border-radius: 10px;
    color: #fff !important;
  }

  &-label {
    display: block;
    margin-bottom: 20px;

    input,
    textarea {
      min-height: 50px;
      width: 100%;
      font-size: 18px;
      padding: 10px 30px;
      border-radius: 10px;
    }

    .wpcf7-not-valid-tip {
      color: #fff;
    }
  }

  &-popup {
    display: none;
  }

  &-title {
    text-align: center;
    font-size: 28px;
    margin: 0;
    margin-bottom: 30px;
    line-height: 1.2;
    color: #fff;

    &-blue {
      text-align: left;
      color: vars.$color-main-light;
    }
  }

  &-right {
    position: relative;
    margin-left: 50px;
    width: 100%;
    border-radius: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: vars.$blue-shadow;
    padding: 20px 40px;

    &-wrapper {
      &-main {
        margin-top: 30px;
        max-width: 74%;
        // color: vars.$color-main-light;
        font-size: 18px;

        strong {
          color: vars.$color-main-light;
          font-weight: 500;
        }
      }

      &-text {
        margin-top: 20px;
      }
    }

    &-img {
      position: absolute;
      top: 50%;
      right: 10%;
      transform: translate(0, -50%);

      img {
        width: 250px;
      }
    }

    &-subtitle {
      strong {
        color: vars.$color-main-light;
      }
    }

    &-link {
      img {
        width: 60px;

        &:last-child {
          margin-left: 10px;
        }
      }
    }
  }
}

@media (max-width: vars.$size-xxl) {
  .form {
    &-right {
      &-wrapper {
        &-main {
          max-width: 100%;
        }
      }

      &-img {
        max-width: 150px;
        bottom: 30px;
        right: 100px;
        top: auto;
        transform: translate(0, 0);
      }
    }
  }
}

@media (max-width: vars.$size-xl) {
  .form {
    &-right {
      &-img {
        display: none;
      }
    }
  }
}

@media (max-width: vars.$size-lg) {
  .form {
    flex-direction: column;
    &-right {
      margin-top: 40px;
      margin-left: 0;
      &-img {
        display: block;
      }
    }
  }
}

@media (max-width: vars.$size-md) {
  .form {
    &-title {
      font-size: 22px;
    }
    &-wrapper {
      min-width: 300px;
      max-width: 400px;
      padding: 20px;
    }
    &-label input,
    textarea {
      font-size: 16px;
    }
    &-right {
      &-wrapper {
        &-main {
          font-size: 16px;
        }
      }
      &-img {
        bottom: 20px;
        right: 40px;
        img {
          width: 100px;
        }
      }
    }
    &-submit {
      font-size: 18px;
    }
  }
}

@media (max-width: vars.$size-sm) {
  .form {
    &-right {
      padding: 10px;
      &-img {
        bottom: 10px;
        right: 20px;
      }
    }
  }
}
