@use 'variables' as vars;

.main-blue-card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: vars.$gradient-main;
  border-radius: 20px;
  width: 100%;
  padding: 30px;
  box-shadow: vars.$grey-shadow;

  &__title{
    text-align: center;
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 14px;
  }

  &__info{
    margin: 14px auto 0 auto;
    max-width: 60%;
    font-size: 18px;
    color: #fff;
    text-align: center;
    strong{
      font-size: 20px;
      font-weight: 600;
    }
  }
}