@use "variables" as vars;

.page-section {
  font-size: 20px;
  h1, h2, h3, h4, h5, h6 {
    color: vars.$color-main;
  }
  .wp-block-media-text {
    position: relative;
    display: block;
    &__content {
      width: 65%;
      font-size: 20px;
      padding: 0;
    }
    &__media {
      position: absolute;
      right: 40px;
      top: 50%;
      max-height: 100%;
      transform: translate(0, -50%);
      margin: 0;
      width: 30%;
      height: 100%;
      text-align: center;
      img {
        width: auto;
        height: 100%;
      }
    }
  }
  .wp-block-table {
    tr {
      border-bottom: 1px solid rgba(#000, 0.1);
      td {
        padding: 5px;
      }
    }
    tr:first-child {
      td {
        font-weight: 700;
        color: vars.$color-main;
      }
      border-bottom: 2px solid vars.$color-main;
    }
    tr:last-child {
      border-bottom: none;
    }
  }
}