@use "variables" as vars;

.reviews {
  &-wrapper {
    position: relative;
    padding: 0 40px;
  }

  &-card {
    position: relative;
    // max-width: 60%;
    padding: 40px 30px;
    background: #fff;
    box-shadow: vars.$grey-shadow;
    border-radius: 15px;

    &-star {
      display: flex;

      img {
        max-width: 20px;
        padding: 2px;
      }

      &-wrapper {
        position: absolute;
        right: 30px;

      }
    }

    &__wrapper {
      padding: 20px;
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__title {
      font-size: 24px;
      font-weight: 500;
    }

    &__line {
      height: 3px;
      background: vars.$color-main;
      width: 100px;
      margin-top: 5px;
      margin-bottom: 15px;
    }

    &__text {
      font-size: 20px;
    }
  }
}

@media (max-width: vars.$size-xxl) {
  .reviews {
    &-card {
      padding: 30px 20px;
      &__text{
        font-size: 18px;
      }
    }
  }
}

@media (max-width: vars.$size-md) {
  .reviews {
    &-card{
      &__text{
        font-size: 16px;
      }
    }
    &-wrapper {
      padding: 0 20px;
    }
  }
}