$size-sm: 576px;
$size-md: 768px;
$size-lg: 992px;
$size-xl: 1200px;
$size-xxl: 1400px;

$color-main: #128DC2;
$color-main-light: #52C2F2;
$color-main-dark: #0682B7;
$gradient-main: linear-gradient(90deg, $color-main-light 0%, $color-main-dark 100%);

$color-grey: #8D8D8A;
$grey-shadow: 0px 3px 8px #C7C5C5;
$blue-shadow: 0px 2px 10px rgba(29, 115, 245, 0.25);
