* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0px !important;
}

.site {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 130px;
}

.breadcrumb-container ul,
.breadcrumb-container ol {
  margin-left: 0;
  padding: 0;
}

ul,
ol {
  margin: 0 0 0 40px;
  padding: 0;
}

h2 {
  margin-top: 0;
}

p {
  margin: 14px 0;
}

.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  height: 40px;
  width: 20px;
  cursor: pointer;
}
.slider-arrow::after, .slider-arrow::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #000;
  left: 0;
}
.slider-arrow::after {
  transform: rotate(45deg);
}
.slider-arrow::before {
  transform: rotate(-45deg);
}
.slider-arrow-prev {
  left: 0;
}
.slider-arrow-prev::after, .slider-arrow-prev::before {
  transform-origin: left;
}
.slider-arrow-next {
  right: 0;
}
.slider-arrow-next::after, .slider-arrow-next::before {
  transform-origin: right;
}

.page-section {
  padding-bottom: 0 !important;
}

.section {
  padding: 60px 0;
}
.section-title {
  font-size: 36px;
  color: #128DC2;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 40px;
}
.section_blue {
  background: linear-gradient(90deg, #52C2F2 0%, #0682B7 100%);
}
.section_blue .section-title {
  color: #fff;
}
.section-noPaddingTop {
  padding-top: 0;
}

.container {
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.button {
  margin-top: 10px;
  display: inline-block;
  background-image: linear-gradient(to right, #52C2F2, #0682B7, #52C2F2, #0682B7);
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  background-size: 300% 100%;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  line-height: 1.5;
}
.button:hover {
  cursor: pointer;
  color: #fff;
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.button:focus {
  outline: none;
}
.button:visited {
  color: #fff;
}
.button a {
  color: inherit;
  background-color: none;
  border-radius: none;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  padding: 0;
  text-align: center;
  text-decoration: none;
  word-break: break-word;
  background: none;
}

.wp-block-table {
  margin-top: 60px;
}
.wp-block-table tr {
  font-size: 18px;
  margin-bottom: 10px;
}

@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
  .section {
    padding: 50px 0;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .section-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .section {
    padding: 40px 0;
  }
  .wp-block-media-text__media {
    width: 100% !important;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .wp-block-table {
    margin-top: 40px;
  }
  .wp-block-table tr {
    font-size: 16px;
  }
  .section-title {
    font-size: 28px;
  }
  .button {
    padding: 8px 20px;
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
  .section {
    padding: 20px 0;
  }
  .section-title {
    font-size: 24px;
  }
  .wp-block-table {
    margin-top: 20px;
  }
}
.header {
  position: fixed;
  width: 100%;
  padding: 20px 0 10px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
  z-index: 10;
}
.header-branding {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-branding__logo {
  vertical-align: middle;
}
.header-branding__contacts {
  display: flex;
  align-items: center;
}
.header-branding__contacts__phones {
  display: flex;
  flex-direction: column;
}
.header-branding__contacts__phone {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  transition: 0.25s color ease-out;
}
.header-branding__contacts__phone:hover {
  color: #52C2F2;
}
.header-branding-search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
  padding: 6px;
  border-radius: 50%;
  background: linear-gradient(90deg, #52C2F2 0%, #0682B7 100%);
  max-width: 50px;
  cursor: pointer;
}
.header-menu-arrow {
  display: none;
}
.header-menu .menu-item {
  margin-right: 30px;
  font-weight: 500;
  font-size: 20px;
  color: #000;
}
.header-menu .menu-item a {
  position: relative;
  color: inherit;
  transition: 0.25s color ease-out;
}
.header-menu .menu-item a::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  background: #52C2F2;
  width: 0%;
  height: 2px;
  transform: translateX(0);
  transition: 0.25s width ease-out;
}
.header-menu .menu-item a:hover {
  color: #52C2F2;
}
.header-menu .menu-item a:hover:after {
  width: 100%;
}
.header-menu .menu-item:hover > .sub-menu, .header-menu .menu-item:focus > .sub-menu {
  left: -10px;
  top: 100%;
}
.header-menu .menu-item .sub-menu {
  float: none;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}
.header-menu .menu-item .sub-menu .menu-item {
  padding: 5px 10px;
  margin: 0;
  font-size: 16px;
  width: 200px;
  position: static;
}
.header-menu .menu-item .sub-menu .menu-item a {
  display: inline;
  width: auto;
}
.header-menu .menu-item .sub-menu .menu-item:hover > .sub-menu {
  top: 0%;
  left: 100%;
}
.header-menu .menu-item:last-child {
  margin-right: 0;
}
.header-menu .current-menu-item {
  color: #128DC2;
}

@media (max-width: 1400px) {
  .header-menu .menu-item {
    font-size: 18px;
  }
  .header-branding__contacts__phone {
    font-weight: 400;
  }
}
@media (max-width: 768px) {
  .header .menu-toggle {
    width: 40px;
    height: 40px;
    background: #fff;
    border: none;
    position: relative;
  }
  .header .menu-toggle span, .header .menu-toggle::before, .header .menu-toggle::after {
    background: #128DC2;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 3px;
    border-radius: 2px;
  }
  .header .menu-toggle::before {
    content: "";
    top: 30%;
  }
  .header .menu-toggle::after {
    content: "";
    top: 70%;
  }
  .header-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    max-width: 100vw;
  }
  .header-menu .menu-item {
    padding-left: 30px;
    margin-right: 0;
    width: 100%;
    font-size: 18px;
  }
  .header-menu .menu-item a {
    display: inline;
  }
  .header-menu .menu-item-has-children {
    position: relative;
  }
  .header-menu .menu-item-has-children > .header-menu-arrow {
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 0;
  }
  .header-menu .menu-item-has-children.focus > .header-menu-arrow {
    transform: rotate(90deg);
  }
  .header-menu .menu-item-has-children.focus > .sub-menu {
    display: block;
  }
  .header-menu .menu-item .sub-menu {
    display: none;
    position: static;
    box-shadow: none;
  }
  .header-menu .menu-item .sub-menu .menu-item {
    width: 100%;
    font-size: 14px;
    padding: 5px 10px;
    line-height: 1.2;
    padding-left: 30px;
  }
  .header-menu .menu-item .sub-menu .menu-item a {
    display: inline;
  }
  .header-menu .menu-item .sub-menu .menu-item-has-children {
    position: relative;
  }
  .header-menu .menu-item .sub-menu .menu-item-has-children > .header-menu-arrow {
    position: absolute;
    left: 0;
    top: 0;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 0;
  }
  .header-menu .menu-item .sub-menu .menu-item-has-children.focus > .header-menu-arrow {
    transform: rotate(90deg);
  }
  .header-menu .menu-item .sub-menu .menu-item-has-children.focus > .sub-menu {
    display: block;
  }
}
@media (max-width: 768px) {
  .header-branding__contacts {
    display: none;
  }
}
.services-cards {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.services-card {
  display: flex;
  align-items: center;
  width: 23%;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  transition: 0.25s all ease-out;
  text-decoration: none;
}
.services-card:hover {
  box-shadow: 0px 4px 10px rgba(29, 115, 245, 0.25);
  cursor: pointer;
}
.services-card__content {
  margin-left: 30px;
  text-decoration: none;
}
.services-card__content a {
  margin-top: 10px;
  text-decoration: none;
}
.services-card__title {
  color: #686868;
  font-size: 20px;
  transition: 0.25s all ease-out;
}
.services-card__img {
  min-width: 30%;
  max-width: 30%;
  text-align: center;
}
.services-card__img img {
  max-height: 120px;
  width: auto;
}
.services-card:hover .services-card__title {
  color: #52C2F2;
}
.services-card__circle {
  min-width: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  background: linear-gradient(92.64deg, #52c2f2 0%, #0682b7 97.59%);
}

@media (max-width: 1400px) {
  .services-card {
    padding: 14px;
  }
  .services-card__title {
    font-size: 18px;
  }
}
@media (max-width: 1200px) {
  .services-card {
    margin-bottom: 20px;
    width: 47%;
  }
}
@media (max-width: 768px) {
  .services-card {
    padding: 10px;
  }
  .services-card__title {
    font-size: 16px;
  }
  .services-card__circle {
    min-width: 20px;
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 768px) {
  .services-card {
    width: 80%;
    margin: 10px auto;
  }
}
.main-blue-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(90deg, #52C2F2 0%, #0682B7 100%);
  border-radius: 20px;
  width: 100%;
  padding: 30px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
.main-blue-card__title {
  text-align: center;
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 14px;
}
.main-blue-card__info {
  margin: 14px auto 0 auto;
  max-width: 60%;
  font-size: 18px;
  color: #fff;
  text-align: center;
}
.main-blue-card__info strong {
  font-size: 20px;
  font-weight: 600;
}

@media (max-width: 1400px) {
  .main-blue-card__title {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .main-blue-card__info {
    margin: 10px auto 0 auto;
  }
}
@media (max-width: 768px) {
  .main-blue-card__title {
    font-size: 26px;
    line-height: 1;
    margin-bottom: 10px;
  }
  .main-blue-card__info {
    max-width: 90%;
    font-size: 16px;
    margin: 10px auto 0 auto;
  }
}
.about-wrapper {
  position: relative;
}
.about-content {
  width: 65%;
  font-size: 20px;
  padding: 0;
}
.about-image {
  position: absolute;
  right: 40px;
  top: 50%;
  max-height: 120%;
  transform: translate(0, -50%);
  margin: 0;
}
.about .wp-block-media-text {
  position: relative;
  display: block;
}
.about .wp-block-media-text__content {
  width: 65%;
  font-size: 20px;
  padding: 0;
}
.about .wp-block-media-text__media {
  position: absolute;
  right: 40px;
  top: 50%;
  max-height: 120%;
  transform: translate(0, -50%);
  margin: 0;
}

@media (max-width: 1400px) {
  .about-content {
    width: 60%;
    font-size: 18px;
  }
  .about-image {
    max-height: 100%;
  }
}
@media (max-width: 1200px) {
  .about-image {
    max-height: 70%;
  }
}
@media (max-width: 768px) {
  .about-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .about-content {
    margin-top: 30px;
    width: 100%;
    font-size: 16px;
  }
  .about-image {
    position: static;
    max-height: 350px;
    transform: none;
  }
}
.features-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.features-card {
  padding: 0px 30px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features-card__image {
  margin-bottom: 10px;
}
.features-card__title {
  font-size: 20px;
  color: #686868;
  text-align: center;
}
.features-card_large {
  width: 33%;
}

@media (max-width: 1400px) {
  .features-wrapper {
    padding: 14px;
  }
  .features-card {
    width: 40%;
    padding: 20px 30px 0;
  }
  .features-card__title {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .features-wrapper {
    justify-content: space-evenly;
  }
  .features-card {
    width: 50%;
    padding: 20px 20px 0;
  }
  .features-card__title {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .features-card {
    width: 100%;
  }
  .features-card__title {
    max-width: 200px;
  }
}
.reviews-wrapper {
  position: relative;
  padding: 0 40px;
}
.reviews-card {
  position: relative;
  padding: 40px 30px;
  background: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
.reviews-card-star {
  display: flex;
}
.reviews-card-star img {
  max-width: 20px;
  padding: 2px;
}
.reviews-card-star-wrapper {
  position: absolute;
  right: 30px;
}
.reviews-card__wrapper {
  padding: 20px;
}
.reviews-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviews-card__title {
  font-size: 24px;
  font-weight: 500;
}
.reviews-card__line {
  height: 3px;
  background: #128DC2;
  width: 100px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.reviews-card__text {
  font-size: 20px;
}

@media (max-width: 1400px) {
  .reviews-card {
    padding: 10px 20px;
  }
  .reviews-card__text {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .reviews-card__text {
    font-size: 16px;
  }
  .reviews-card__header {
    margin-top: 30px;
  }
  .reviews-wrapper {
    padding: 0 20px;
  }
}
@media (max-width: 576px) {
  .reviews-card__text {
    font-size: 14px;
  }
  .reviews-wrapper {
    padding: 0 10px;
  }
}
.clients-wrapper {
  display: flex;
  justify-content: space-between;
}
.clients-wrapper-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  border-radius: 20px;
  background-color: #fff;
  padding: 30px;
}

@media (max-width: 1400px) {
  .clients-wrapper-item {
    padding: 20px;
  }
}
@media (max-width: 1200px) {
  .clients-wrapper {
    justify-content: space-evenly;
  }
  .clients-wrapper-item {
    padding: 10px 20px;
    width: 150px;
  }
}
@media (max-width: 768px) {
  .clients-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .clients-wrapper-item {
    margin: 0 10px 20px;
    height: 100px;
    width: 200px;
  }
}
.pluses-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pluses-wrapper-line {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
.pluses-wrapper-item {
  width: 28%;
}
.pluses-wrapper-item .red {
  background: linear-gradient(92.64deg, #cf4140 0%, #ea4a49 97.59%);
}
.pluses-wrapper-item .orange {
  background: linear-gradient(92.64deg, #ff8521 0%, #f9b233 97.59%);
}
.pluses-wrapper-item .green {
  background: linear-gradient(92.64deg, #63e144 0%, #37985e 96.57%);
}
.pluses-wrapper-item .purple {
  background: linear-gradient(66.51deg, #9a77fd 0%, #4607f9 91.4%);
}
.pluses-wrapper-item .blue {
  background: linear-gradient(92.64deg, #52c2f2 0%, #0682b7 97.59%);
}
.pluses-wrapper-item .pink {
  background: linear-gradient(66.51deg, #f5a4d5 0%, #ff2fad 91.4%);
}
.pluses-wrapper-item-number {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 10px;
  color: #fff;
  font-size: 42px;
  font-weight: 600;
  line-height: 1;
}
.pluses-wrapper-item-title {
  color: #128DC2;
  margin-top: 10px;
  font-size: 22px;
  font-weight: 600;
}
.pluses-wrapper-item-text {
  margin-top: 10px;
  font-size: 20px;
  color: #000;
}

@media (max-width: 1400px) {
  .pluses-wrapper-item-text {
    font-size: 18px;
  }
  .pluses-wrapper-item-title {
    font-size: 20px;
    line-height: 1.3;
  }
}
@media (max-width: 768px) {
  .pluses-wrapper-item {
    width: 45%;
  }
  .pluses-wrapper-item-text {
    font-size: 16px;
  }
  .pluses-wrapper-item-title {
    font-size: 18px;
    line-height: 1;
  }
  .pluses-wrapper-line {
    justify-content: space-between;
  }
}
@media (max-width: 576px) {
  .pluses-wrapper-item {
    margin-top: 30px;
    display: flex;
    width: 100%;
  }
  .pluses-wrapper-item-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
  }
  .pluses-wrapper-item-text {
    margin: 0 0 0 10px;
  }
  .pluses-wrapper-item-title {
    margin: 0 0 4px 10px;
  }
  .pluses-wrapper-line {
    margin: 0;
    flex-direction: column;
  }
}
.order-wrapper {
  position: relative;
}
.order-content {
  margin-left: auto;
  width: 65%;
  font-size: 20px;
}
.order-image {
  position: absolute;
  left: 0;
  margin-right: 40px;
  top: 50%;
  max-height: 120%;
  transform: translate(0, -50%);
}

@media (max-width: 1400px) {
  .order-content {
    width: 60%;
    font-size: 18px;
  }
  .order-image {
    max-height: 100%;
  }
}
@media (max-width: 1200px) {
  .order-image {
    max-height: 60%;
  }
}
@media (max-width: 768px) {
  .order-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .order-content {
    margin-top: 20px;
    width: 100%;
    font-size: 16px;
  }
  .order-image {
    position: static;
    transform: none;
    max-height: 350px;
    margin: 0;
  }
}
.requisites-wrapper {
  display: flex;
}
.requisites-wrapper-item {
  margin-top: 16px;
  display: flex;
  align-items: center;
}
.requisites-wrapper-item-title {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.requisites-wrapper-item-text {
  margin-left: 20px;
  font-size: 18px;
  color: #fff;
}

@media (max-width: 992px) {
  .requisites-wrapper-item-title {
    font-size: 16px;
  }
  .requisites-wrapper-item-text {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .requisites-wrapper-item {
    margin-top: 10px;
  }
  .requisites-wrapper-item-title {
    font-size: 14px;
  }
  .requisites-wrapper-item-text {
    font-size: 14px;
  }
}
.page-section {
  font-size: 20px;
}
.page-section h1, .page-section h2, .page-section h3, .page-section h4, .page-section h5, .page-section h6 {
  color: #128DC2;
}
.page-section .wp-block-media-text {
  position: relative;
  display: block;
}
.page-section .wp-block-media-text__content {
  width: 65%;
  font-size: 20px;
  padding: 0;
}
.page-section .wp-block-media-text__media {
  position: absolute;
  right: 40px;
  top: 50%;
  max-height: 100%;
  transform: translate(0, -50%);
  margin: 0;
  width: 30%;
  height: 100%;
  text-align: center;
}
.page-section .wp-block-media-text__media img {
  width: auto;
  height: 100%;
}
.page-section .wp-block-table tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.page-section .wp-block-table tr td {
  padding: 5px;
}
.page-section .wp-block-table tr:first-child {
  border-bottom: 2px solid #128DC2;
}
.page-section .wp-block-table tr:first-child td {
  font-weight: 700;
  color: #128DC2;
}
.page-section .wp-block-table tr:last-child {
  border-bottom: none;
}

.form {
  display: flex;
}
.form-wrapper {
  position: relative;
  min-width: 460px;
  max-width: 600px;
  margin: 0 auto;
  background: linear-gradient(90deg, #52C2F2 0%, #0682B7 100%);
  padding: 30px 40px;
  color: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(29, 115, 245, 0.25);
}
.form-wrapper br {
  display: none;
}
.form-wrapper p {
  margin: 0;
}
.form-wrapper .form-submit {
  height: 50px;
  display: block;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid #fff;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: none;
  margin: 0 auto;
  cursor: pointer;
}
.form-wrapper .form-submit:hover {
  color: #128DC2;
  background: #fff;
}
.form-wrapper .wpcf7-spinner {
  background: #fff !important;
  opacity: 1 !important;
  display: none !important;
  margin: 10px auto !important;
}
.form-wrapper .wpcf7-spinner::before {
  background: #128DC2 !important;
}
.form-wrapper form.submitting .wpcf7-spinner {
  display: block !important;
}
.form-wrapper .wpcf7-response-output {
  margin: 20px 0 0 !important;
  border-color: #fff !important;
  border-radius: 10px;
  color: #fff !important;
}
.form-label {
  display: block;
  margin-bottom: 20px;
}
.form-label input,
.form-label textarea {
  min-height: 50px;
  width: 100%;
  font-size: 18px;
  padding: 10px 30px;
  border-radius: 10px;
}
.form-label .wpcf7-not-valid-tip {
  color: #fff;
}
.form-popup {
  display: none;
}
.form-title {
  text-align: center;
  font-size: 28px;
  margin: 0;
  margin-bottom: 30px;
  line-height: 1.2;
  color: #fff;
}
.form-title-blue {
  text-align: left;
  color: #52C2F2;
}
.form-right {
  position: relative;
  margin-left: 50px;
  width: 100%;
  border-radius: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(29, 115, 245, 0.25);
  padding: 20px 40px;
}
.form-right-wrapper-main {
  margin-top: 30px;
  max-width: 74%;
  font-size: 18px;
}
.form-right-wrapper-main strong {
  color: #52C2F2;
  font-weight: 500;
}
.form-right-wrapper-text {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.form-right-img {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(0, -50%);
}
.form-right-img img {
  width: 250px;
}
.form-right-subtitle strong {
  color: #52C2F2;
}
.form-right-link img {
  width: 60px;
}
.form-right-link img:last-child {
  margin-left: 10px;
}

@media (max-width: 1400px) {
  .form-right-wrapper-main {
    max-width: 100%;
  }
  .form-right-img {
    max-width: 150px;
    bottom: 30px;
    right: 100px;
    top: auto;
    transform: translate(0, 0);
  }
}
@media (max-width: 1200px) {
  .form-right-img {
    display: none;
  }
}
@media (max-width: 992px) {
  .form {
    flex-direction: column;
  }
  .form-right {
    margin-top: 40px;
    margin-left: 0;
  }
  .form-right-img {
    display: block;
  }
}
@media (max-width: 768px) {
  .form-title {
    font-size: 22px;
  }
  .form-wrapper {
    min-width: 300px;
    max-width: 400px;
    padding: 20px;
  }
  .form-label input,
.form textarea {
    font-size: 16px;
  }
  .form-right-wrapper-main {
    font-size: 16px;
  }
  .form-right-img {
    bottom: 20px;
    right: 40px;
  }
  .form-right-img img {
    width: 100px;
  }
  .form-submit {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .form-right {
    padding: 10px;
  }
  .form-right-img {
    bottom: 10px;
    right: 20px;
  }
}
.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
}
.footer-image {
  text-align: center;
  padding: 10px 0;
}
.footer-wrapper {
  display: flex;
  align-items: stretch;
}
.footer-wrapper-privacy {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.footer-wrapper-privacy a {
  display: block;
  text-decoration: none;
  color: #52C2F2;
  transition: 0.25s color ease-out;
}
.footer-wrapper-privacy a:hover {
  text-decoration: underline;
}
.footer-block {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.footer-block-item {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  transition: 0.25s color ease-out;
}
.footer-block-item:hover {
  color: #52C2F2;
}
.footer-block__title {
  margin-bottom: 10px;
  color: #52C2F2;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 992px) {
  .footer-wrapper {
    flex-wrap: wrap;
  }
  .footer-block {
    margin-bottom: 20px;
    width: 50%;
  }
}
@media (max-width: 576px) {
  .footer-block-item {
    font-size: 14px;
  }
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  z-index: 101;
  cursor: pointer;
}
.popup-close::before, .popup-close::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  top: 50%;
}
.popup-close::before {
  left: 0;
  transform: translateY(-50%) rotate(45deg);
}
.popup-close::after {
  right: 0;
  transform: translateY(-50%) rotate(-45deg);
}

.main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main-wrapper {
  max-width: 40%;
}
.main-title {
  font-weight: 600;
  color: #000;
  font-size: 36px;
  margin-bottom: 20px;
  line-height: 1.3;
}
.main-subtitle {
  color: #000;
  font-size: 24px;
  margin-bottom: 20px;
}
.main-img {
  max-width: 50%;
}
.main-text {
  font-size: 20px;
}

@media (max-width: 1400px) {
  .main-wrapper {
    max-width: 40%;
  }
  .main-title {
    font-size: 32px;
  }
  .main-subtitle {
    font-size: 20px;
  }
  .main-text {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .main {
    flex-direction: column-reverse;
  }
  .main-wrapper {
    max-width: 90%;
  }
  .main-img {
    max-width: 70%;
  }
}
@media (max-width: 576px) {
  .main-title {
    font-size: 28px;
  }
  .main-subtitle {
    font-size: 18px;
  }
  .main-img {
    max-width: 90%;
  }
}
.certificates-item {
  padding: 30px;
}

.slick-slide .slick-active {
  width: 300px;
}

@media (max-width: 1400px) {
  .certificates-item {
    width: 300px !important;
  }
}
@media (max-width: 1400px) {
  .cleaning-service p,
.cleaning-service li {
    font-size: 18px;
  }
  .cleaning-service img {
    height: 80%;
  }
}
@media (max-width: 1200px) {
  .cleaning-service table td {
    max-width: 340px;
    padding: 10px;
  }
}
@media (max-width: 992px) {
  .cleaning-service {
    flex-direction: column;
  }
  .cleaning-service img {
    height: 100%;
  }
  .cleaning-service .wp-block-media-text__media {
    transform: none;
    position: static;
  }
  .cleaning-service .wp-block-media-text__content {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .cleaning-service {
    flex-direction: column;
  }
  .cleaning-service p {
    font-size: 16px;
  }
  .cleaning-service ul li {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .cleaning-service {
    flex-direction: column;
  }
  .cleaning-service td {
    font-size: 14px;
    max-width: auto !important;
  }
}/*# sourceMappingURL=style.css.map */