* {
  box-sizing: border-box;
}

.site-main {
  margin-top: 160px;
}

.container {
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.button {
  display: inline-block;
  background: #128DC2;
  border-radius: 10px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  padding: 5px 20px;
}
.button:hover {
  color: #fff;
}

@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}
.header {
  position: fixed;
  width: 100%;
  padding: 20px 0 10px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
}
.header-branding {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-branding__logo {
  vertical-align: middle;
}
.header-branding__contacts__phones {
  display: flex;
  flex-direction: column;
}
.header-branding__contacts__phone {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  transition: 0.25s color ease-out;
}
.header-branding__contacts__phone:hover {
  color: #52C2F2;
}
.header-menu .menu-item {
  margin-right: 30px;
  font-weight: 500;
  font-size: 20px;
  color: #000;
}
.header-menu .menu-item a {
  position: relative;
  color: inherit;
  transition: 0.25s color ease-out;
}
.header-menu .menu-item a::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  background: #52C2F2;
  width: 0%;
  height: 2px;
  transform: translateX(0);
  transition: 0.25s width ease-out;
}
.header-menu .menu-item a:hover {
  color: #52C2F2;
}
.header-menu .menu-item a:hover:after {
  width: 100%;
}
.header-menu .menu-item:hover .sub-menu {
  left: -10px;
  top: calc(100% + 2px);
}
.header-menu .menu-item .sub-menu {
  padding: 10px;
  float: none;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}
.header-menu .menu-item .sub-menu .menu-item {
  margin: 0;
  font-size: 16px;
  width: 200px;
}
.header-menu .menu-item .sub-menu .menu-item a {
  display: inline;
  width: auto;
}
.header-menu .menu-item:last-child {
  margin-right: 0;
}
.header-menu .current-menu-item {
  color: #128DC2;
}

.services-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
}
.services-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 410px;
  padding: 20px;
  box-shadow: 0px 3px 8px #C7C5C5;
}
.services-card:nth-child(2n) {
  margin-left: 20px;
}
.services-card:nth-last-child(-n+2) {
  margin-top: 20px;
}
.services-card:hover {
  box-shadow: 0px 2px 10px rgba(29, 115, 245, 0.25);
}
.services-card-wrapper {
  margin-left: 30px;
}
.services-card-wrapper a {
  margin-top: 10px;
}
.services-title {
  color: #8D8D8A;
  font-size: 24px;
  line-height: 1.1;
}
.services-img {
  max-width: 180px;
}

.main-blue-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(90deg, #52C2F2 0%, #0682B7 100%);
  border-radius: 20px;
  width: 60%;
  margin: 100px auto 0;
  padding: 20px;
}
.main-blue-card-title {
  text-align: center;
  color: #fff;
  font-size: 36px;
  font-weight: 600;
}
.main-blue-card-info {
  margin-top: 20px;
  max-width: 60%;
  font-size: 18px;
  color: #fff;
}/*# sourceMappingURL=style.css.map */