* {
  box-sizing: border-box;
}

.breadcrumb-container ul, .breadcrumb-container ol {
  margin-left: 0;
  padding: 0;
}

.site-main {
  margin-top: 80px;
}

.section {
  padding: 60px 0;
}
.section-title {
  font-size: 36px;
  color: #128DC2;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 40px;
}
.section_blue {
  background: linear-gradient(90deg, #52C2F2 0%, #0682B7 100%);
}
.section_blue .section-title {
  color: #fff;
}

.container {
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.button {
  display: inline-block;
  background-image: linear-gradient(to right, #52C2F2, #0682B7, #52C2F2, #0682B7);
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  padding: 5px 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  background-size: 300% 100%;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  line-height: 1.5;
}
.button:hover {
  cursor: pointer;
  color: #fff;
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.button:focus {
  outline: none;
}
.button:visited {
  color: #fff;
}
.button a {
  color: inherit;
  background-color: none;
  border-radius: none;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  padding: 0;
  text-align: center;
  text-decoration: none;
  word-break: break-word;
  background: none;
}

.wp-block-table {
  margin-top: 60px;
}
.wp-block-table tr {
  font-size: 18px;
  margin-bottom: 10px;
}
@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}
.header {
  position: fixed;
  width: 100%;
  padding: 20px 0 10px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
  z-index: 10;
}
.header-branding {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-branding__logo {
  vertical-align: middle;
}
.header-branding__contacts {
  display: flex;
  align-items: center;
}
.header-branding__contacts__phones {
  display: flex;
  flex-direction: column;
}
.header-branding__contacts__phone {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  transition: 0.25s color ease-out;
}
.header-branding__contacts__phone:hover {
  color: #52C2F2;
}
.header-branding-search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
  padding: 6px;
  border-radius: 50%;
  background: linear-gradient(90deg, #52C2F2 0%, #0682B7 100%);
  max-width: 50px;
  cursor: pointer;
}
.header-menu .menu-item {
  margin-right: 30px;
  font-weight: 500;
  font-size: 20px;
  color: #000;
}
.header-menu .menu-item a {
  position: relative;
  color: inherit;
  transition: 0.25s color ease-out;
}
.header-menu .menu-item a::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  background: #52C2F2;
  width: 0%;
  height: 2px;
  transform: translateX(0);
  transition: 0.25s width ease-out;
}
.header-menu .menu-item a:hover {
  color: #52C2F2;
}
.header-menu .menu-item a:hover:after {
  width: 100%;
}
.header-menu .menu-item:hover > .sub-menu {
  left: -10px;
  top: 100%;
}
.header-menu .menu-item .sub-menu {
  float: none;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}
.header-menu .menu-item .sub-menu .menu-item {
  padding: 5px 10px;
  margin: 0;
  font-size: 16px;
  width: 200px;
  position: static;
}
.header-menu .menu-item .sub-menu .menu-item a {
  display: inline;
  width: auto;
}
.header-menu .menu-item .sub-menu .menu-item:hover > .sub-menu {
  top: 0%;
  left: 100%;
}
.header-menu .menu-item:last-child {
  margin-right: 0;
}
.header-menu .current-menu-item {
  color: #128DC2;
}

.services-cards {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.services-card {
  display: flex;
  align-items: center;
  width: 23%;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  transition: 0.25s all ease-out;
  text-decoration: none;
}
.services-card:hover {
  box-shadow: 0px 4px 10px rgba(29, 115, 245, 0.25);
  cursor: pointer;
}
.services-card__content {
  margin-left: 30px;
  text-decoration: none;
}
.services-card__content a {
  margin-top: 10px;
  text-decoration: none;
}
.services-card__title {
  color: #686868;
  font-size: 20px;
  transition: 0.25s all ease-out;
}
.services-card__img {
  min-width: 30%;
  max-width: 30%;
  text-align: center;
}
.services-card__img img {
  max-height: 120px;
  width: auto;
}
.services-card:hover .services-card__title {
  color: #52C2F2;
}

.main-blue-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(90deg, #52C2F2 0%, #0682B7 100%);
  border-radius: 20px;
  width: 100%;
  padding: 30px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
.main-blue-card__title {
  text-align: center;
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 10px;
}
.main-blue-card__info {
  max-width: 60%;
  font-size: 18px;
  color: #fff;
  text-align: center;
}

.about-wrapper {
  position: relative;
}
.about-content {
  width: 65%;
  font-size: 20px;
  padding: 0;
}
.about-image {
  position: absolute;
  right: 40px;
  top: 50%;
  max-height: 120%;
  transform: translate(0, -50%);
  margin: 0;
}
.about .wp-block-media-text {
  position: relative;
  display: block;
}
.about .wp-block-media-text__content {
  width: 65%;
  font-size: 20px;
  padding: 0;
}
.about .wp-block-media-text__media {
  position: absolute;
  right: 40px;
  top: 50%;
  max-height: 120%;
  transform: translate(0, -50%);
  margin: 0;
}

.features-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.features-card {
  padding: 0px 30px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features-card__image {
  margin-bottom: 10px;
}
.features-card__title {
  font-size: 20px;
  color: #686868;
  text-align: center;
}
.features-card_large {
  width: 33%;
}

.reviews-wrapper {
  position: relative;
  padding: 0 40px;
}
.reviews-wrapper .slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  height: 40px;
  width: 20px;
  cursor: pointer;
}
.reviews-wrapper .slider-arrow::after, .reviews-wrapper .slider-arrow::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #000;
  left: 0;
}
.reviews-wrapper .slider-arrow::after {
  transform: rotate(45deg);
}
.reviews-wrapper .slider-arrow::before {
  transform: rotate(-45deg);
}
.reviews-wrapper .slider-arrow-prev {
  left: 0;
}
.reviews-wrapper .slider-arrow-prev::after, .reviews-wrapper .slider-arrow-prev::before {
  transform-origin: left;
}
.reviews-wrapper .slider-arrow-next {
  right: 0;
}
.reviews-wrapper .slider-arrow-next::after, .reviews-wrapper .slider-arrow-next::before {
  transform-origin: right;
}
.reviews-card {
  position: relative;
  padding: 40px 30px;
  background: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
.reviews-card-star {
  display: flex;
}
.reviews-card-star img {
  max-width: 20px;
  padding: 2px;
}
.reviews-card-star-wrapper {
  position: absolute;
  right: 30px;
}
.reviews-card__wrapper {
  padding: 20px;
}
.reviews-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviews-card__title {
  font-size: 24px;
  font-weight: 500;
}
.reviews-card__line {
  height: 3px;
  background: #128DC2;
  width: 100px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.reviews-card__text {
  font-size: 22px;
}

.clients-wrapper {
  display: flex;
  justify-content: space-between;
}
.clients-wrapper-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  border-radius: 20px;
  background-color: #fff;
  padding: 30px;
}

.pluses-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pluses-wrapper-line {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
.pluses-wrapper-item {
  width: 28%;
}
.pluses-wrapper-item .red {
  background: linear-gradient(92.64deg, #CF4140 0%, #EA4A49 97.59%);
}
.pluses-wrapper-item .orange {
  background: linear-gradient(92.64deg, #FF8521 0%, #F9B233 97.59%);
}
.pluses-wrapper-item .green {
  background: linear-gradient(92.64deg, #63E144 0%, #37985E 96.57%);
}
.pluses-wrapper-item .purple {
  background: linear-gradient(66.51deg, #9A77FD 0%, #4607F9 91.4%);
}
.pluses-wrapper-item .blue {
  background: linear-gradient(92.64deg, #52C2F2 0%, #0682B7 97.59%);
}
.pluses-wrapper-item .pink {
  background: linear-gradient(66.51deg, #F5A4D5 0%, #FF2FAD 91.4%);
}
.pluses-wrapper-item-number {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 10px;
  color: #fff;
  font-size: 42px;
  font-weight: 600;
  line-height: 1;
}
.pluses-wrapper-item-title {
  color: #128DC2;
  margin-top: 10px;
  font-size: 22px;
  font-weight: 600;
}
.pluses-wrapper-item-text {
  margin-top: 10px;
  font-size: 20px;
  color: #000;
}

.order-wrapper {
  position: relative;
}
.order-content {
  margin-left: auto;
  width: 65%;
  font-size: 20px;
}
.order-image {
  position: absolute;
  left: 0;
  margin-right: 40px;
  top: 50%;
  max-height: 120%;
  transform: translate(0, -50%);
}

.requisites-wrapper {
  display: flex;
}
.requisites-wrapper-item {
  margin-top: 16px;
  display: flex;
  align-items: center;
}
.requisites-wrapper-item-title {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.requisites-wrapper-item-text {
  margin-left: 20px;
  font-size: 18px;
  color: #fff;
}

.page-section {
  font-size: 20px;
}
.page-section h1, .page-section h2, .page-section h3, .page-section h4, .page-section h5, .page-section h6 {
  color: #128DC2;
}
.page-section .wp-block-media-text {
  position: relative;
  display: block;
}
.page-section .wp-block-media-text__content {
  width: 65%;
  font-size: 20px;
  padding: 0;
}
.page-section .wp-block-media-text__media {
  position: absolute;
  right: 40px;
  top: 50%;
  max-height: 150%;
  transform: translate(0, -50%);
  margin: 0;
  width: 30%;
  height: 150%;
  text-align: center;
}
.page-section .wp-block-media-text__media img {
  width: auto;
  height: 100%;
}
.page-section .wp-block-table tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.page-section .wp-block-table tr td {
  padding: 5px;
}
.page-section .wp-block-table tr:first-child {
  border-bottom: 2px solid #128DC2;
}
.page-section .wp-block-table tr:first-child td {
  font-weight: 700;
  color: #128DC2;
}
.page-section .wp-block-table tr:last-child {
  border-bottom: none;
}

.form {
  display: flex;
}
.form-wrapper {
  position: relative;
  min-width: 460px;
  max-width: 600px;
  margin: 0 auto;
  background: linear-gradient(90deg, #52C2F2 0%, #0682B7 100%);
  padding: 30px 40px;
  color: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(29, 115, 245, 0.25);
}
.form-wrapper br {
  display: none;
}
.form-wrapper p {
  margin: 0;
}
.form-wrapper .form-submit {
  height: 50px;
  display: block;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid #fff;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: none;
  margin: 0 auto;
  cursor: pointer;
}
.form-wrapper .form-submit:hover {
  color: #128DC2;
  background: #fff;
}
.form-wrapper .wpcf7-spinner {
  display: none;
}
.form-label {
  display: block;
  margin-bottom: 20px;
}
.form-label input,
.form-label textarea {
  min-height: 50px;
  width: 100%;
  font-size: 18px;
  padding: 10px 30px;
  border-radius: 10px;
}
.form-label .wpcf7-not-valid-tip {
  display: none;
  color: #fff;
}
.form-popup {
  display: none;
}
.form-title {
  text-align: center;
  font-size: 36px;
  margin: 0;
  margin-bottom: 30px;
  line-height: 1.2;
  color: #fff;
}
.form-title-blue {
  text-align: left;
  color: #52C2F2;
}
.form-right {
  position: relative;
  margin-left: 50px;
  width: 100%;
  border-radius: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(29, 115, 245, 0.25);
  padding: 20px 40px;
}
.form-right-wrapper-main {
  margin-top: 30px;
  max-width: 74%;
  font-size: 18px;
}
.form-right-wrapper-main strong {
  color: #52C2F2;
  font-weight: 500;
}
.form-right-wrapper-text {
  margin-top: 20px;
}
.form-right-img {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(0, -50%);
}
.form-right-img img {
  width: 250px;
}
.form-right-subtitle strong {
  color: #52C2F2;
}
.form-right-link img {
  width: 60px;
}
.form-right-link img:last-child {
  margin-left: 10px;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
}
.footer-image {
  text-align: center;
  padding: 10px 0;
}
.footer-wrapper {
  display: flex;
  align-items: stretch;
}
.footer-wrapper-privacy {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.footer-wrapper-privacy a {
  display: block;
  text-decoration: none;
  color: #52C2F2;
  transition: 0.25s color ease-out;
}
.footer-wrapper-privacy a:hover {
  text-decoration: underline;
}
.footer-block {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.footer-block-item {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  transition: 0.25s color ease-out;
}
.footer-block-item:hover {
  color: #52C2F2;
}
.footer-block__title {
  margin-bottom: 10px;
  color: #52C2F2;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  z-index: 101;
  cursor: pointer;
}
.popup-close::before, .popup-close::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  top: 50%;
}
.popup-close::before {
  left: 0;
  transform: translateY(-50%) rotate(45deg);
}
.popup-close::after {
  right: 0;
  transform: translateY(-50%) rotate(-45deg);
}

.main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main-wrapper {
  max-width: 40%;
}
.main-title {
  font-weight: 600;
  color: #000;
  font-size: 36px;
  margin-bottom: 20px;
  line-height: 1.3;
}
.main-subtitle {
  color: #000;
  font-size: 24px;
  margin-bottom: 20px;
}
.main-img {
  max-width: 50%;
}/*# sourceMappingURL=style.css.map */